<footer class="bg text-white pt-2 pb-2" style="background: rgb(255, 98, 0);">
 
    <div class="container text-center text-md-left">
         <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-3">
                <h5 class="text-captalize mb-3 font-weight-bold text-dark">About Cakes</h5>
                <p>
                    <a href="#" class="text-white text-captalize" style="text-decoration: none;">about us</a>
                </p>

                <p>
                    <a href="#" class="text-white text-captalize" style="text-decoration: none;">culture</a>
                </p>

                <p>
                    <a href="#" class="text-white text-captalize" style="text-decoration: none;">blog</a>
                </p>


                <p>
                    <a href="#" class="text-white text-captalize" style="text-decoration: none;">contact</a>
                </p>
         </div>


         <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-captalize mb-3 font-weight-bold text-dark">Popular Cities</h5>
            <p>
                <a href="#" class="text-white text-captalize" style="text-decoration: none;">chennai</a>
            </p>

            <p>
                <a href="#" class="text-white text-captalize" style="text-decoration: none;">tirupur</a>
            </p>

            <p>
                <a href="#" class="text-white text-captalize" style="text-decoration: none;">coimbatore</a>
            </p>

            <p>
                <a href="#" class="text-white text-captalize" style="text-decoration: none;">madurai</a>
            </p>

            <p>
                <a href="#" class="text-white text-captalize" style="text-decoration: none;">salem</a>
            </p>

            <p>
                <a href="#" class="text-white text-captalize" style="text-decoration: none;">bangalore</a>
            </p>
         </div>

         <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3" style="text-transform: captalize;">
            <h5 class="text-captalize mb-3 font-weight-bold text-dark">Contact Us</h5>
           
            <p >
                <i class="fa-solid fa-location-dot" ></i>  OMR in Chennai Tamil Nadu
            </p>

            <p>
                <i class="fa-solid fa-phone"></i> +0421 819171
            </p>
            
            <!-- <p>
                <i class="fa-solid fa-envelope" style="padding-right: 8px;"></i>support@yummycom
            </p> -->



            <div class="social" >
                <i class="fa-brands fa-facebook" style="padding-right: 10px;"></i>
                <i class="fa-brands fa-instagram" style="padding-right: 10px;"></i>
                <i class="fa-brands fa-x-twitter"style="padding-right: 10px;"></i>
                <i class="fa-brands fa-youtube"style="padding-right: 10px;"></i>

            </div>
           
        </div>



        <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3" style="text-transform: captalize;">
            <h5 class="text-captalize mb-3 font-weight-bold text-dark">Subscribe now </h5>
           
            <p>
               Subcribe now for our new update-
               get regular offers and stuff
               your email
            </p>

           <div class="input-group mb-3">
             <input class="form-control" type="email" placeholder="Your Email Address" >
             <button class="btn btn-outline-light" type="submit"><i class="fa fa-paper-plane text-lg"></i></button>
           </div>
             
         </div>   





















    </div>
</div>

</footer>