         
<section class="container1">
         <div class="title">
             <h1 style="color: tomato;"><span style="color: black;">Top</span> Seller</h1>
         </div>         
</section>

<div class="container">
<ngx-slick-carousel class="carousel" 
#slickModal="slick-carousel" 
[config]="slideConfig" 
>
  <div ngxSlickItem class="slide">
  <div class="card">
    <div class="card-main">
         
   <a href="#" class="image">
   <img src="assets\cards\Birthday Cakes\Black Current.webp"  class="img-fluid product-image-first"  > 
   <img src="assets\Discription\Des1.png" class="img-fluid product-image-secontary">
  </a>
      <div class="product-heading">
        <!-- <div class="card-item">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
         </div> -->
        <h3>Black Current</h3>
        <div class="rating">
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i> 
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
        </div>
        <p class="parah">₹299<del style="font-size: 15px;">499</del><b style="color: red;padding-left: 2px;">(40%)</b><span>
            <a class="btn btn-danger button" type="button">
              <i class="fa-solid fa-cart-shopping" style="font-size: 18px;"></i></a></span></p>
             
      </div>
     </div>
   </div>
  </div>


  <div ngxSlickItem class="slide">
    <div class="card">
      <div class="card-main">
           
     <a href="#" class="image">
     <img src="assets\cards\Birthday Cakes\orange velvet cake.jpg"  class="img-fluid product-image-first"  > 
     <img src="assets\Discription\Des2.png" class="img-fluid product-image-secontary">
    </a>
        <div class="product-heading">
          <!-- <div class="card-item">
            <li><a href=""><i class="fa fa-heart"></i></a></li>
           </div> -->
          <h3>Orange Velvet</h3>
          <div class="rating">
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i> 
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
          </div>
          <p class="parah">419<del style="font-size: 15px;">699</del><b style="color: red;padding-left: 2px;">(40%)</b><span>
              <a class="btn btn-danger button" type="button">
                <i class="fa-solid fa-cart-shopping" style="font-size: 18px;"></i></a></span></p>
               
        </div>
       </div>
     </div>
    </div>

    
    <div ngxSlickItem class="slide">
      <div class="card">
        <div class="card-main">
             
       <a href="#" class="image">
       <img src="assets\cards\Dessert\dessert1.jpg"  class="img-fluid product-image-first"  > 
       <img src="assets\Discription\Des3.png" class="img-fluid product-image-secontary">
      </a>
          <div class="product-heading">
            <!-- <div class="card-item">
              <li><a href=""><i class="fa fa-heart"></i></a></li>
             </div> -->
            <h3>Dry Choclate</h3>
            <div class="rating">
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i> 
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
            </div>
            <p class="parah">₹299<del style="font-size: 15px;">499</del><b style="color: red;padding-left: 3px;">(40%)</b><span>
                <a class="btn btn-danger button" type="button">
                  <i class="fa-solid fa-cart-shopping" style="font-size: 18px;"></i></a></span></p>
                 
          </div>
         </div>
       </div>
      </div>

      
      <div ngxSlickItem class="slide">
        <div class="card">
          <div class="card-main">
               
         <a href="#" class="image">
         <img src="assets\cards\cup cakes\cupcake2.jpg"  class="img-fluid product-image-first"  > 
         <img src="assets\Discription\Des4.png" class="img-fluid product-image-secontary">
        </a>
            <div class="product-heading">
              <!-- <div class="card-item">
                <li><a href=""><i class="fa fa-heart"></i></a></li>
               </div> -->
              <h3>Venila Cake</h3>
              <div class="rating">
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i> 
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
              </div>
              <p class="parah">₹299<del style="font-size: 15px;">499</del><b style="color: red;padding-left: 3px;">(40%)</b><span>
                  <a class="btn btn-danger button" type="button">
                    <i class="fa-solid fa-cart-shopping" style="font-size: 18px;"></i></a></span></p>
                   
            </div>
           </div>
         </div>
        </div>

        
        <div ngxSlickItem class="slide">
          <div class="card">
            <div class="card-main">
                 
           <a href="#" class="image">
           <img src="assets\cards\Birthday Cakes\walnut cake.jpg"  class="img-fluid product-image-first"  > 
           <img src="assets\Discription\Des5.png" class="img-fluid product-image-secontary">
          </a>
              <div class="product-heading">
                <!-- <div class="card-item">
                  <li><a href=""><i class="fa fa-heart"></i></a></li>
                 </div> -->
                <h3>Walnut Cake</h3>
                <div class="rating">
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i> 
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                </div>
                <p class="parah">799<del style="font-size: 15px;">999</del><b style="color: red;padding-left: 3px;">(40%)</b><span>
                    <a class="btn btn-danger button" type="button">
                      <i class="fa-solid fa-cart-shopping" style="font-size: 18px;"></i></a></span></p>
                     
              </div>
             </div>
           </div>
          </div>

          
          <div ngxSlickItem class="slide">
            <div class="card">
              <div class="card-main">
                   
             <a href="#" class="image">
             <img src="assets\cards\cup cakes\cupcake4.jpg"  class="img-fluid product-image-first"  > 
             <img src="assets\Discription\Des6.png" class="img-fluid product-image-secontary">
            </a>
                <div class="product-heading">
                  <!-- <div class="card-item">
                    <li><a href=""><i class="fa fa-heart"></i></a></li>
                   </div> -->
                  <h3>Pista Cake</h3>
                  <div class="rating">
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i> 
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                  </div>
                  <p class="parah">499<del style="font-size: 15px;">699</del><b style="color: red;padding-left: 3px;">(40%)</b><span>
                      <a class="btn btn-danger button" type="button">
                        <i class="fa-solid fa-cart-shopping" style="font-size: 18px;"></i></a></span></p>
                       
                </div>
               </div>
             </div>
            </div>
          

 
</ngx-slick-carousel>

</div>            
          
         
              
         
              
           
             
          


            
       
















 
   







