@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.container1{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;

}

/* .container{
  display: inline-block;
} */


.title{
    margin-top: 6%;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
}

.title::before{
   content: '';
   width: 200px;
   height: 3px;
   background: rgb(5, 5, 4);
   opacity: .6;
   position: absolute;
   bottom: 15%;
   left: 50%;
   transform:translateX(-50%) ;
}

.title::after{
  content: '\f005';
  font-family: FontAwesome;
  background: rgb(254, 252, 252);
  width: 50px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color:rgb(255, 98, 0);
}

.title p{
  color: #080707;
  font-size: 700;
  margin:0;
}

.title h1{
  font-size: 44px;
  color: #0b0a0a;
  font-weight: 900;
  text-transform: uppercase;
  
}

/* .head{
  padding-right: 12px;
  color: rgb(255, 98, 0);
}


.product-heading {
   margin: 20px 0 0 15px;
   
} */



.parah{
  margin-top: 20px;
  font-size: large;
}

div {
  display: unblock;
}
.button{
 margin-left: 160px;
 margin-top: -50px;
 padding:5px 30px;
 color: #fff;
 background:rgb(255, 98, 0) ;
}

.button:hover{
  color: #fff;
  background:rgb(255, 25, 0);
}

.card{
  transition: all .2s ease-in-out;
  border: none!important; 
  background: none;
}



.card-item{
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 65px;
  margin-right:100px;
  opacity: 0;
  text-align: center;
  transition: all 0.3s ease-in-out, transform 0.3s ease-in-out,opacity 0.3s ease-in-out;

}


.card-item i{
  color: rgb(255, 98, 0);

}

.card:hover .card-item{
  opacity: 1;
  padding: 10px;
  margin: -10px -5px 0 0;
  background-color: #fff;
  border-radius: 5px;
}


 .card-item :hover{
  color:rgb(239, 4, 4);
}

.rating{
  color: rgb(255, 197, 8);
  font-size: 15px;
}

.image img{
  overflow: hidden;
  width: 90%; 
  height: 310px;
}


.image .product-image-secontary{
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;  
}

.image:hover .product-image-secontary{
opacity: 1;

}

.slick-prev:before, .slick-next:before {
   color: black !important;
}


@media (max-width:992) {
 
  
  
}
/* 









.badge-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;

  
}

.badge {
  font: bold 15px sans-serif;
  text-align: center;
  transform: rotate(-45deg);
  position: relative;
  padding: 7px 0;
  top: 15px;
  left: -30px;
  width: 120px;
  background-color:rgb(255, 98, 0);
  color: #fff;
}

.product-item-content { 
  border: 1px solid var(--surface-d); 
  border-radius: 3px; 
  margin: 0.3rem; 
  text-align: center; 
  padding: 2rem 0; 
  background-color: snow; 
} 

.product-image { 
  width: 50%; 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 
      0 3px 6px rgba(0, 0, 0, 0.23); 
}  */































































































































































































/* 
.badge{
  background: rgb(222, 26, 26);
  font-size: 12px;
  padding: 5px 14px;
  top: 0px;
  position: absolute;
  color: #fff;
} */

/* 

.badge {
  position: absolute;
  display: inline-block;
  
  top: 0.3em;
  left: 0.8em;
  
  max-width: 5em;
  
  color: #fff;
  
  z-index: 1;
}

.badge::after {
  position: absolute;
  top: -1.5em;
  left: -6em;
  content: "";
  
  height: 5em;
  width: 15em;
  
  transform: rotatez(135deg);

  background-color: red;
  z-index:-1;

} */
 /* .badge:before{
  border-width: 10px 0px 0px 10px;
  border-color: transparent transparent transparent rgb(222, 26, 26);
  content: "";
  position: absolute;
  right: -8px;
  width:0;
  bottom: 0;
  border-style: solid;
}
.badge:after{
  border-width: 10px 8px 0px 10px;
  border-color:  rgb(222, 26, 26) transparent transparent ;
  content: "";
  position: absolute;
  right: -8px;
  width:0;
  top: 0;
  border-style:solid;
} */

/* .product-grid:hover .social{
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 15px;
  right: 7px;
  opacity: 1;
} */

/* 
      body{
        font-family: 'Poppins',sans-serif;
        display: flex;
        align-items: center;
        min-height: 100vh;
      }

      .img-wrapper{
        overflow: hidden;
        position: relative;
        }
        
        .icons{
          bottom: -40% !important;
          opacity: 0;
          margin-left:auto;
          margin-right:auto;
        }


        .card-img-wrapper:hover .member-icons{
          bottom: 0;
          opacity: 1;
        }


        .animate{
          transition: all 0.3s ease-in-out;

        }
    

      .product-inner-box .onsale .badge{
        background: rgb(186, 3, 3);
        font-size: 12px;
        padding: 5px 14px;
        top: 0px;
        position: absolute;
      }


      .product-inner-box .onsale .badge:before{
        border-width: 10px 0px 0px 10px;
        border-color: transparent transparent transparent rgb(186, 3, 3);
        content: "";
        position: absolute;
        right: -8px;
        width:0;
        bottom: 0;
        border-style: solid;
      }


      
      .product-inner-box .onsale .badge:after{
        border-width: 10px 8px 0px 10px;
        border-color:  rgb(186, 3, 3) transparent transparent ;
        content: "";
        position: absolute;
        right: -8px;
        width:0;
        top: 0;
        border-style: solid;
      }
 */

      /* .product-inner-box .is-hover img{
        height: 300px;
        width: 80%;
        object-fit: cover;
      } */

/* 
    
      .card-btn{
        position: absolute;
        bottom: 20px;
        text-align: center;
        width: 100%;
        opacity: 0;
        transition: all 0.2s ease-in-out, transform 0.2s ease-in-out,opacity 0.2s ease-in-out;
      } */

      /* .product-box:hover .is-hover .card-btn{
        opacity: 1;
      } */

      




