<section id="home" class="home overflow-hidden">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item ">
          <div class="home-banner banner1">
              <div class="home-banner-text">
                  <a class="btn btn-1 mt-4">Order</a>  
              </div>
              <img src="assets\cards\Birthday Cakes\walnut cake.jpg"   class="topbanner">
          </div>            
        </div>
        <div class="carousel-item active">
          <div class="home-banner banner2">
              <div class="home-banner-text">
                 <img src="assets\cards\cup cakes\cupcake4.jpg" class="topbanner">
                 <a class="btn btn-2 mt-4">Order</a>  
              </div>
          </div>          
      </div>
        <div class="carousel-item">
          <div class="home-banner banner3">
              <div class="home-banner-text">
                <img src="assets\cards\Dessert\dessert1.jpg"   class="topbanner">
                <a class="btn btn-3 mt-4">Order</a>  
              </div> 
           </div>            
      </div>
      <div class="carousel-item">
        <div class="home-banner banner2">
            <div class="home-banner-text">
               <img src="assets\cards\cup cakes\cupcake3.jpg" class="topbanner">
               <a class="btn btn-2 mt-4">Order</a>  
            </div>
        </div>          
    </div>
      <div class="carousel-item">
        <div class="home-banner banner3">
            <div class="home-banner-text">
              <img src="assets\cards\Dessert\dessert3.jpg"   class="topbanner">
              <a class="btn btn-3 mt-4">Order</a>  
            </div> 
         </div>            
    </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</section>



<app-slider-courosel></app-slider-courosel>
<app-gallery></app-gallery>
<app-footer></app-footer>












<!-- <div class="banner">
  <img src="/assets/Banners/Burger.png"   class="topbanner">
  <button class="btn">Order</button>  
</div>


<div class="banner">
  <img src="/assets/Banners/Pizzha.png" class="Second">
  <button class="btn">Order</button>  

</div>

<div class="banner">
  <img src="/assets/Banners/Combo.png"   class="topbanner">
  <button class="btn">Order</button>  
</div>

-->
