.scrollbtn {
    display: flex;
    transition:all;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width:40px;
    height:40px;
    background: rgba(4, 222, 44, 0.983) ;
    color: aliceblue;
    border-radius: 50%;
    border: 1px solid grey;
}

.scrollbtn:hover{
    background-color: black;
    color: aliceblue;
}


.scrollbtn i{
    align-items: center;
    margin: auto;
}